<option value="Andhra Pradesh" class="p-2 cursor-pointer hover:bg-indigo-50">Andhra Pradesh</option>
<option value="Arunachal Pradesh" class="p-2 cursor-pointer hover:bg-indigo-50">Arunachal Pradesh</option>
<option value="Assam" class="p-2 cursor-pointer hover:bg-indigo-50">Assam</option>
<option value="Bihar" class="p-2 cursor-pointer hover:bg-indigo-50">Bihar</option>
<option value="Chhattisgarh" class="p-2 cursor-pointer hover:bg-indigo-50">Chhattisgarh</option>
<option value="Goa" class="p-2 cursor-pointer hover:bg-indigo-50">Goa</option>
<option value="Gujarat" class="p-2 cursor-pointer hover:bg-indigo-50">Gujarat</option>
<option value="Haryana" class="p-2 cursor-pointer hover:bg-indigo-50">Haryana</option>
<option value="Himachal Pradesh" class="p-2 cursor-pointer hover:bg-indigo-50">Himachal Pradesh</option>
<option value="Jharkhand" class="p-2 cursor-pointer hover:bg-indigo-50">Jharkhand</option>
<option value="Karnataka" class="p-2 cursor-pointer hover:bg-indigo-50">Karnataka</option>
<option value="Kerala" class="p-2 cursor-pointer hover:bg-indigo-50">Kerala</option>
<option value="Madhya Pradesh" class="p-2 cursor-pointer hover:bg-indigo-50">Madhya Pradesh</option>
<option value="Maharashtra" class="p-2 cursor-pointer hover:bg-indigo-50">Maharashtra</option>
<option value="Manipur" class="p-2 cursor-pointer hover:bg-indigo-50">Manipur</option>
<option value="Meghalaya" class="p-2 cursor-pointer hover:bg-indigo-50">Meghalaya</option>
<option value="Mizoram" class="p-2 cursor-pointer hover:bg-indigo-50">Mizoram</option>
<option value="Nagaland" class="p-2 cursor-pointer hover:bg-indigo-50">Nagaland</option>
<option value="Odisha" class="p-2 cursor-pointer hover:bg-indigo-50">Odisha</option>
<option value="Punjab" class="p-2 cursor-pointer hover:bg-indigo-50">Punjab</option>
<option value="Rajasthan" class="p-2 cursor-pointer hover:bg-indigo-50">Rajasthan</option>
<option value="Sikkim" class="p-2 cursor-pointer hover:bg-indigo-50">Sikkim</option>
<option value="Tamil Nadu" class="p-2 cursor-pointer hover:bg-indigo-50">Tamil Nadu</option>
<option value="Telangana" class="p-2 cursor-pointer hover:bg-indigo-50">Telangana</option>
<option value="Tripura" class="p-2 cursor-pointer hover:bg-indigo-50">Tripura</option>
<option value="Uttar Pradesh" class="p-2 cursor-pointer hover:bg-indigo-50">Uttar Pradesh</option>
<option value="Uttarakhand" class="p-2 cursor-pointer hover:bg-indigo-50">Uttarakhand</option>
<option value="West Bengal" class="p-2 cursor-pointer hover:bg-indigo-50">West Bengal</option>
<option value="Andaman and Nicobar Islands" class="p-2 cursor-pointer hover:bg-indigo-50">Andaman and Nicobar Islands</option>
<option value="Chandigarh" class="p-2 cursor-pointer hover:bg-indigo-50">Chandigarh</option>
<option value="Dadra and Nagar Haveli" class="p-2 cursor-pointer hover:bg-indigo-50">Dadra and Nagar Haveli</option>
<option value="Daman and Diu" class="p-2 cursor-pointer hover:bg-indigo-50">Daman and Diu</option>
<option value="Delhi" class="p-2 cursor-pointer hover:bg-indigo-50">Delhi</option>
<option value="Jammu and Kashmir" class="p-2 cursor-pointer hover:bg-indigo-50">Jammu and Kashmir</option>
<option value="Ladakh" class="p-2 cursor-pointer hover:bg-indigo-50">Ladakh</option>
<option value="Lakshadweep" class="p-2 cursor-pointer hover:bg-indigo-50">Lakshadweep</option>
<option value="Puducherry" class="p-2 cursor-pointer hover:bg-indigo-50">Puducherry</option>